* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100vh;
}

body {
    padding: 20px 2%;
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #5bc0f8;
}

:root {
    --blue: #097ef6;
    --blue-hover: #66a9ec;
    --gray: #434242;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
========= CONSULT CPF =========
============= FORM ============
*/
.container {
    width: 98%;
    max-width: 1200px;
    padding: 40px 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.container h2 {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.container form {
    width: 100%;
    max-width: 600px;
}

.btn {
    width: 100%;
    padding: 15px;
    background: var(--blue);
    color: white;
    font-size: 1.25rem;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.form-single {
    width: 100%;
    margin: 20px 0 40px;
    position: relative;
}

.form-single input {
    width: 100%;
    padding: 15px 0;
    display: block;
    background: transparent;
    color: var(--gray);
    font-size: 1.125rem;
    border: 0;
    border-bottom: 2px var(--gray) solid;
}

.form-single input:focus,
.form-single input:valid {
    outline: 0;
    border-bottom-color: var(--blue);
}

.form-single label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-single label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-single input:focus + label span,
.form-single input:valid + label span {
    color: var(--blue);
    transform: translateY(-30px);
}

.form-single.invalid input {
    color: red;
}

#error {
    color: red;
    display: none;
}

.invalid #error {
    display: block;
}

/*
========= CONSULT CPF =========
======== DESKTOP RESULT =======
*/
.container table {
    width: 100%;
    text-align: center;
}

.container table thead {
    color: white;
    background-color: var(--blue);
}

.container table thead tr th {
    padding: 5px 0;
    font-weight: 700;
}

.container table tbody tr:nth-child(2n + 1) {
    background-color: #eee;
}

.container table tbody tr:nth-child(2n + 2) {
    background-color: #ccc;
}

.error {
    color: red;
}

/*
========= CONSULT CPF =========
======== MOBILE RESULT ========
*/
.mobile {
    display: none;
    flex-direction: column;
    gap: 2rem;
}

.mobile .result-single {
    width: 100%;
    padding: 15px 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0.3rem 0.5rem #cacaca;
    border-top: 0.3rem solid var(--blue);
    border-radius: 0.5rem;
}

.mobile .result-item h3 {
    color: #a9a9a9;
    font-size: 1rem;
}

.mobile .result-item p {
    font-size: 1.125rem;
}

/*
========= RESPONSIVE =========
======= MEDIA QUERRIES =======
*/
@media screen and (max-width: 768px) {
    body {
        justify-content: center;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }
}
